.left{
    float: right;
    height:600px;
    width: 50%;
    
    overflow-x: hidden;
    background-image: url(..//IMAGES/solutions.jpg);
    background-repeat: no-repeat;
    background-size: 750px;
    align-items: center;
    z-index: -1;
}
.right{
    
    float:left;
    height:500px;
    width: 50%;
    background-color: rgb(203, 238, 248);
    
    overflow-x: hidden;
    margin: auto;

}

.right form{
    text-align: center;
    padding:10px;
    
}
.right form select{
   margin:10px;
   padding:8px;
   font-size: large;
   background-color: rgb(178, 153, 245);

}
.right form input{
    margin:10px;
    padding:8px;
    font-size: large;
    background-color: rgb(178, 153, 245);
    border-radius: 10px;
 }
 .res{
     margin-top: 25px;
     margin-left:350px;
     font-size: large;
 }
 .name{
     font-size: larger;
     margin-left:250px;
 }